/* @font-face {
  font-family: helvetica-condensed;
  src: url(Fonts/helvetica-condensed-black.otf);
} */

@font-face {
  font-family: freeroad;
  src: url(Fonts/FreeRoad/freeroadregular.ttf);
}

@font-face {
  font-family: freeroad-bold;
  src: url(Fonts/FreeRoad/freeroadbold.ttf);
}

*{
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: 	rgb(46, 46, 46);
  font-family: freeroad;
  background-image: url(images/backboard.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-size: 4.5vw;
  padding: 20px 5px 10px 30px;
  margin-right: 1.5vw;
  /* font-family: helvetica-condensed; */
}

.container2{
  width: 480px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-container{
  width: 40%;
  height: 100%;
  float: left;
}

.img-container img{
  width: 100%;
  padding-top: 4%;
  padding-left: 4%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content{
  width: 60%;
  height: 100%;
  float: left;
  padding: 20px 40px;
  box-sizing: border-box;
}


.head p{
  font-size: 35px;
  color: white;
  font-weight: bold;
  padding-top: 0;
  margin-top: 0;
}


.data{
  width: 100%;
}


.inner-data{
  width: 50%;
  float: left;
  text-align: left;
  color: white;
  padding-bottom: 10px;
}

.inner-data p{
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.inner-data span{
  font-size: 18px;
  font-weight: bold;
}

.btn{
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition: all 1s ease;
  cursor: pointer;
}

.btn.active{
  opacity: 1;
}


.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-top: 1%;
  /* position: relative; */
  /* display: inline-block; */
}


.dropdown-content {
  /* position: absolute; */
  /* background-color: #f6f6f6; */
  min-width: 230px;
  overflow: auto;
  /* border: 1px solid #ddd; */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container {
  width:100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}


.row {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    align-content: center;
    margin: auto;
    margin-bottom: 5%;
}

.col {
    flex-basis: 30%;
    margin-right: 1%;
}

.noshow {
  display: none;
}

#heading {
  width:100%;
  display: flex;
  border-bottom: 2px white solid;
  background-color: rgb(0, 0, 0, 0.8);
  margin-bottom: 2%;
  position: fixed;
  z-index:1;
  top: 0;
  width: 100%;
}

.topRow {
  padding-top: 120px;
}

/* #heading {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
} */



button, select, input, #myUL {
  background-color: rgb(75, 75, 75);
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#searchInput {
  /* position: fixed; */
  font-size: 11px;
  margin-bottom:2%;
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
}

#search {
  font-size: 12px;
}

.radar {
  border: 2px solid grey;
  border-radius: 2%;
  height: 300px;
}

img {
  /* border-color: black;
  border-width: 1px;
  border-style: solid; */
}
.img-container {
  height: 200px;
  /* background-color: white; */
}
.container2 {
  height: 300px;
  color: white;
  background-color: rgb(75, 75, 75);
}

 .btn {
  height: 40px;
  border-radius: 3px;
  margin-left: 20px;
  color: white;
  background: rgb(75, 75, 75);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: .85em;
  text-align: center;
  text-decoration: none;
  position: relative;
  opacity: 0.9;
}
.btn:hover, .btn:focus {
    opacity: 0.6;
}
.btn:active {
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
    transform: scale(0.90);
}

#search {
  font-size: 12px;
  position: static;
  margin-left: 0px;
  height: 30px
}

.margin-b {
  margin-bottom: 20px;
  margin-left: 0px;
}

.margin-t {
  margin-top: 30px;
}

#labelSeason {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 5px
}

#myUL {
  position: absolute;
  margin-left: 2px;
  width: 120px;
  padding-top: 5px;
  list-style: none;
  border: 1px black solid;
  background-color: black;
}

#myUL > li {
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
}

#myDropdown {
  /* margin-top: 15px;
  margin-left: 20px; */
  /* width: 600px; */
  /* height:100px; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#myDropdown::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#myDropdown {
  -ms-overflow-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

caption {
  font-size: 30px;
  margin-bottom: 10px;
}

th, td {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 6px;
  padding-left: 2px;
  text-align: left;
  border-bottom: 1px solid white;
}

tr:hover {background-color:rgb(75, 75, 75);}

.linegraph {
  margin-left: 100px;
  padding-bottom: 50px;
}

.wrapper {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card1 {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}


.card1.flipped {
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}

.card2 {
    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    -o-transition: -o-transform 1.5s;
    transition: transform 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}


.card2.flipped {
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}

#stats, #labelStats {
  position: absolute;
  right: 3%;
  top: 5%;
}

#labelStats {
  font-size: 20px;
  right: 21%;
  top: 5%;
}


button {
    outline: none;
  color: white
}


.bar {
  height: 300px;
}

.barChart {
  height:300px;
  width:460px
}

#line1, #radar {
  height:300px;
  width:500px;
}

.chart-container {
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 2%;
  padding-right: 0.8%;
  padding-bottom: 0.5%;
}

.chart-container:hover {
  background-color: rgb(0, 0, 0, 1);
}

.radar {
  padding-bottom: 3.5%;
}

.container2 {
  background-image: url(images/logo.jpg);
  background-size: 100% 100%;
  background-position: center;
  padding-left:0;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .col {
    flex-basis: 100%;
  }
}

/* add metaviewport tag */
