/* @font-face {
  font-family: helvetica-condensed;
  src: url(Fonts/helvetica-condensed-black.otf);
} */
/* @font-face {
    font-family: "Gentona";
    src: url("Fonts/Gentona-Book-Font/GentonaBookItalic.otf");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Gentona";
    src: url("Fonts/Gentona-Book-Font/GentonaBookBold.otf");
    font-weight: bold;
    font-weight: normal;
} */

@font-face {
  font-family: freeroad;
  src: url(Fonts/FreeRoad/freeroadregular.ttf);
}

@font-face {
  font-family: freeroad-bold;
  src: url(Fonts/FreeRoad/freeroadbold.ttf);
}

*{
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: 	rgb(46, 46, 46);
  font-family: 'freeroad';
  /* background-image: url(images/backboard.jpg); */
  background-color: rgb(12, 12, 12);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  /* font-family: 'Gentona'; */
  font-size: 4vw;
  padding: 15px 5px 10px 30px;
  margin-right: 1.5vw;
  /* font-family: helvetica-condensed; */
}

.container2{
  width: 480px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-container{
  width: 40%;
  height: 100%;
  float: left;
}

.img-container img{
  width: 100%;
  padding-top: 4%;
  padding-left: 4%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content{
  width: 60%;
  height: 100%;
  float: left;
  padding: 20px 40px;
  box-sizing: border-box;
}


.head p{
  font-size: 35px;
  color: white;
  font-weight: bold;
  padding-top: 0;
  margin-top: 0;
}


.data{
  width: 100%;
}


.inner-data{
  width: 50%;
  float: left;
  text-align: left;
  color: white;
  padding-bottom: 10px;
}

.inner-data p{
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

.inner-data span{
  font-size: 18px;
  font-weight: bold;
}

.btn1{
  top: 10px;
  right: 10px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition: all 1s ease;
  cursor: pointer;
} */

/* .btn1.active{
  opacity: 1;
}


.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-top: 1%;
  /* position: relative; */
  /* display: inline-block; */
}


.dropdown-content {
  /* position: absolute; */
  /* background-color: #f6f6f6; */
  min-width: 230px;
  overflow: auto;
  /* border: 1px solid #ddd; */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.container {
  width:100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}


.row {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    align-content: center;
    margin: auto;
    margin-bottom: 5%;
}

.col {
    flex-basis: 30%;
    margin-right: 1%;
}

.noshow {
  display: none;
}

#heading {
  height:90px;
  width:100%;
  display: flex;
  border-bottom: 2px white solid;
   background-image: linear-gradient(rgb(23, 59, 87, 1) ,rgb(146, 141, 141, 0.1), rgb(87, 26, 41, 1));
  /* background-color: 	rgb(26, 79, 119); */
  margin-bottom: 2%;
  position: fixed;
  z-index:1;
  top: 0;
  width: 100%;
}

.topRow {
  padding-top: 120px;
}

/* #heading {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
} */


select, input, #myUL {
  background-color: rgb(75, 75, 75);
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#searchInput {
  /* position: fixed; */
  font-size: 11px;
  margin-bottom:2%;
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
}

#search {
  font-size: 12px;
}

.radar {
  border: 2px solid grey;
  /* border-radius: 2%; */
  height: 300px;
}

img {
  /* border-color: black;
  border-width: 1px;
  border-style: solid; */
}
.img-container {
  height: 200px;
  /* background-color: white; */
}
.container2 {
  height: 300px;
  color: white;
  background-color: rgb(75, 75, 75);
}

 .btn1 {
  height: 40px;
  border-radius: 3px;
  margin-left: 20px;
  color: white;
  background: rgb(75, 75, 75);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: .85em;
  text-align: center;
  text-decoration: none;
  position: relative;
  opacity: 0.9;
}
.btn1:hover, .btn1:focus {
    opacity: 0.6;
}
.btn1:active {
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
    transform: scale(0.90);
}

#search {
  font-size: 12px;
  position: static;
  margin-left: 0px;
  height: 30px
}

.margin-b {
  margin-bottom: 20px;
  margin-left: 0px;
}

.margin-t {
  margin-top: 30px;
}

#labelSeason {
  font-size: 18px;
  margin-left: 30px;
  margin-right: 5px
}

#myUL {
  position: absolute;
  margin-left: 2px;
  width: 120px;
  padding-top: 5px;
  list-style: none;
  border: 1px black solid;
  background-color: black;
}

#myUL > li {
  padding-bottom: 2%;
  padding-top: 2%;
  color: white;
}

#myDropdown {
  /* margin-top: 15px;
  margin-left: 20px; */
  /* width: 600px; */
  /* height:100px; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#myDropdown::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
#myDropdown {
  -ms-overflow-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
}

caption {
  font-size: 30px;
  margin-bottom: 10px;
}

th, td {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 6px;
  padding-left: 2px;
  text-align: left;
  border-bottom: 1px solid white;
}

tr:hover {background-color:rgb(75, 75, 75);}

.linegraph {
  margin-left: 100px;
  padding-bottom: 50px;
  padding-left: 10px;
}

.wrapper {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card1 {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}


.card1.flipped {
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}

.card2 {
    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    -o-transition: -o-transform 1.5s;
    transition: transform 1.5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}


.card2.flipped {
    -webkit-transform: rotateY( 360deg );
    -moz-transform: rotateY( 360deg );
    -o-transform: rotateY( 360deg );
    transform: rotateY( 360deg );
}

#stats, #labelStats {
  position: absolute;
  right: 3%;
  top: 5%;
}

#labelStats {
  color: grey;
  font-size: 20px;
  right: 21%;
  top: 5%;
}


button {
    outline: none;
  color: white
}


.bar {
  height: 300px;
}

.barChart {
  height:300px;
  width:460px
}

#line1, #radar {
  height:300px;
  width:500px;
}

.chart-container {
  /* background-color: #ece8e1; */
  background-color: black);
  /* background-image: url(images/logo.jpg);
  background-size: 100%;
  background-repeat: no-repeat; */
  /* border: 0.5px white solid; */
  /* border-radius: 2%; */
  padding-right: 0.8%;
  padding-bottom: 0.5%;
}

.chart-container:hover {
  background-color:rgb(255,255,255,0.9);
}

.radar {
  padding-bottom: 5%;
  border-radius: 2%;
}

.container2 {
  background-image: url(images/logo.jpg);
  background-size: 100% 100%;
  background-position: center;
  padding-left:0;
  background-repeat: no-repeat;
}

.btn {
  height:30px;
  width:150px;
  margin-top: 2%;
  margin-bottom: 6%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
}
.btn a {
  width: 100%;
  /* max-width: 240px; */
  height: 100px;
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  margin: 10px 0;
  color: black;
}
.btn a.white:hover > p {
  color: #ece8e1;
}
.btn a.white > p {
  background: #ece8e1;
  color: #0f1923;
}
.btn a.white > p span.base {
  border: 2px solid transparent;
}
.btn a.transparent:hover > p {
  color: #ece8e1;
}
.btn a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.btn a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.btn a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.btn a:after, .btn a:before {
  content: "";
  width: 1px;
  /* position: absolute; */
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.btn a:before {
  right: 0;
  left: initial;
}
.btn a p {
  margin: 0;
  /* height: 54px; */
  line-height: 25px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.btn a p span.base {
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.btn a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  /* position: absolute; */
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
.btn a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}
.btn a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: black;
}
.btn a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.btn a:hover {
  color: #ece8e1;
}
.btn a:hover span.bg {
  width: 110%;
}
.btn a:hover span.text:after {
  background: #ece8e1;
}

#head1, #head2 {
  margin-top: 2%;
  margin-left: 2%;
  height: 25px
}

#head1 a, #head2 a {
  padding:10px;
}

#head2 {
  margin-left: 4%;
}

#head1 a p, #head2 a p {
  line-height: 40px;
}

@media only screen and (max-width: 600px) {
  .col {
    flex-basis: 100%;
  }
}

/* add metaviewport tag */
